streamlit
pandas
praw
openai
google-generativeai
presidio-analyzer
presidio-anonymizer
PyYAML
matplotlib
wordcloud
sentence-transformers[onnx]
# Optional, if you directly use requests with Graph API after getting token
# requests